-- CreateEnum
CREATE TYPE "RoleUtilisateur" AS ENUM ('expediteur', 'agent_commercial', 'agent_entrepot', 'admin');

-- CreateEnum
CREATE TYPE "StatutExpediteur" AS ENUM ('en_attente', 'actif', 'suspendu');

-- CreateEnum
CREATE TYPE "StatutDemande" AS ENUM ('en_attente', 'approuvee', 'rejetee', 'annulee');

-- CreateEnum
CREATE TYPE "TypeEmballage" AS ENUM ('carton', 'palette', 'sac', 'autre');

-- CreateEnum
CREATE TYPE "StatutValidationProduit" AS ENUM ('en_attente', 'approuve', 'refuse');

-- CreateEnum
CREATE TYPE "StatutDecharge" AS ENUM ('emise', 'scannee', 'expiree');

-- CreateEnum
CREATE TYPE "TypeEvenement" AS ENUM ('arrivee_scannee', 'reception_confirmee', 'repositionnement');

-- CreateTable
CREATE TABLE "Expediteur" (
    "id" TEXT NOT NULL,
    "nom_entreprise" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telephone" TEXT NOT NULL,
    "adresse" TEXT NOT NULL,
    "statut" "StatutExpediteur" NOT NULL DEFAULT 'en_attente',
    "langue_preferee" TEXT NOT NULL DEFAULT 'fr',
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Expediteur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Utilisateur" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" "RoleUtilisateur" NOT NULL,
    "expediteur_id" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Utilisateur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" TEXT NOT NULL,
    "utilisateur_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "revoke_at" TIMESTAMP(3),
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DemandeStockage" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "expediteur_id" TEXT NOT NULL,
    "statut" "StatutDemande" NOT NULL DEFAULT 'en_attente',
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date_traitement" TIMESTAMP(3),
    "agent_commercial_id" TEXT,
    "date_reception_prevue" TIMESTAMP(3),
    "commentaire_agent" TEXT,

    CONSTRAINT "DemandeStockage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Produit" (
    "id" TEXT NOT NULL,
    "demande_id" TEXT NOT NULL,
    "sku_code" TEXT NOT NULL,
    "designation" TEXT NOT NULL,
    "longueur_cm" DOUBLE PRECISION NOT NULL,
    "largeur_cm" DOUBLE PRECISION NOT NULL,
    "hauteur_cm" DOUBLE PRECISION NOT NULL,
    "poids_kg" DOUBLE PRECISION NOT NULL,
    "fragile" BOOLEAN NOT NULL DEFAULT false,
    "type_emballage" "TypeEmballage" NOT NULL,
    "quantite" INTEGER NOT NULL,
    "photo_url" TEXT,
    "statut_validation" "StatutValidationProduit" NOT NULL DEFAULT 'en_attente',

    CONSTRAINT "Produit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Decharge" (
    "id" TEXT NOT NULL,
    "demande_id" TEXT NOT NULL,
    "numero_decharge" TEXT NOT NULL,
    "qr_token" TEXT NOT NULL,
    "nonce" TEXT NOT NULL,
    "date_generation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "pdf_url" TEXT,
    "statut" "StatutDecharge" NOT NULL DEFAULT 'emise',

    CONSTRAINT "Decharge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Entrepot" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "adresse" TEXT NOT NULL,

    CONSTRAINT "Entrepot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Emplacement" (
    "id" TEXT NOT NULL,
    "entrepot_id" TEXT NOT NULL,
    "zone" TEXT NOT NULL,
    "allee" TEXT NOT NULL,
    "rack" TEXT NOT NULL,
    "niveau" TEXT NOT NULL,
    "capacite_max" INTEGER NOT NULL,
    "occupee" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Emplacement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MouvementEntrepot" (
    "id" TEXT NOT NULL,
    "decharge_id" TEXT NOT NULL,
    "agent_entrepot_id" TEXT NOT NULL,
    "type_evenement" "TypeEvenement" NOT NULL,
    "emplacement_id" TEXT,
    "date_evenement" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,

    CONSTRAINT "MouvementEntrepot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "entite_type" TEXT NOT NULL,
    "entite_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "utilisateur_id" TEXT,
    "donnees_avant" JSONB,
    "donnees_apres" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_adresse" TEXT,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Expediteur_email_key" ON "Expediteur"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Utilisateur_email_key" ON "Utilisateur"("email");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_token_hash_key" ON "RefreshToken"("token_hash");

-- CreateIndex
CREATE INDEX "RefreshToken_utilisateur_id_idx" ON "RefreshToken"("utilisateur_id");

-- CreateIndex
CREATE UNIQUE INDEX "DemandeStockage_reference_key" ON "DemandeStockage"("reference");

-- CreateIndex
CREATE INDEX "DemandeStockage_expediteur_id_idx" ON "DemandeStockage"("expediteur_id");

-- CreateIndex
CREATE INDEX "DemandeStockage_statut_idx" ON "DemandeStockage"("statut");

-- CreateIndex
CREATE INDEX "Produit_demande_id_idx" ON "Produit"("demande_id");

-- CreateIndex
CREATE UNIQUE INDEX "Decharge_demande_id_key" ON "Decharge"("demande_id");

-- CreateIndex
CREATE UNIQUE INDEX "Decharge_numero_decharge_key" ON "Decharge"("numero_decharge");

-- CreateIndex
CREATE UNIQUE INDEX "Decharge_qr_token_key" ON "Decharge"("qr_token");

-- CreateIndex
CREATE UNIQUE INDEX "Decharge_nonce_key" ON "Decharge"("nonce");

-- CreateIndex
CREATE UNIQUE INDEX "Emplacement_entrepot_id_zone_allee_rack_niveau_key" ON "Emplacement"("entrepot_id", "zone", "allee", "rack", "niveau");

-- CreateIndex
CREATE INDEX "MouvementEntrepot_decharge_id_idx" ON "MouvementEntrepot"("decharge_id");

-- CreateIndex
CREATE INDEX "AuditLog_entite_type_entite_id_idx" ON "AuditLog"("entite_type", "entite_id");

-- CreateIndex
CREATE INDEX "AuditLog_timestamp_idx" ON "AuditLog"("timestamp");

-- AddForeignKey
ALTER TABLE "Utilisateur" ADD CONSTRAINT "Utilisateur_expediteur_id_fkey" FOREIGN KEY ("expediteur_id") REFERENCES "Expediteur"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "Utilisateur"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeStockage" ADD CONSTRAINT "DemandeStockage_expediteur_id_fkey" FOREIGN KEY ("expediteur_id") REFERENCES "Expediteur"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DemandeStockage" ADD CONSTRAINT "DemandeStockage_agent_commercial_id_fkey" FOREIGN KEY ("agent_commercial_id") REFERENCES "Utilisateur"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Produit" ADD CONSTRAINT "Produit_demande_id_fkey" FOREIGN KEY ("demande_id") REFERENCES "DemandeStockage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Decharge" ADD CONSTRAINT "Decharge_demande_id_fkey" FOREIGN KEY ("demande_id") REFERENCES "DemandeStockage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Emplacement" ADD CONSTRAINT "Emplacement_entrepot_id_fkey" FOREIGN KEY ("entrepot_id") REFERENCES "Entrepot"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MouvementEntrepot" ADD CONSTRAINT "MouvementEntrepot_decharge_id_fkey" FOREIGN KEY ("decharge_id") REFERENCES "Decharge"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MouvementEntrepot" ADD CONSTRAINT "MouvementEntrepot_agent_entrepot_id_fkey" FOREIGN KEY ("agent_entrepot_id") REFERENCES "Utilisateur"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MouvementEntrepot" ADD CONSTRAINT "MouvementEntrepot_emplacement_id_fkey" FOREIGN KEY ("emplacement_id") REFERENCES "Emplacement"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "Utilisateur"("id") ON DELETE SET NULL ON UPDATE CASCADE;

